
#banner {
	border-top: 1px solid #b5b6b6;
}	

.UIBannerPortlet {
	zoom: 100%;
	background: url('background/UIBanner.gif') repeat-x left top;
}

.UIBannerPortlet .LeftBanner {
	padding-left: 35px; /* orientation=lt */
	padding-right: 35px; /* orientation=rt */
}

.UIBannerPortlet .RightBanner {
	background: url('background/LogoGatein.gif') no-repeat left top; /* orientation=lt */
	background: url('background/LogoGatein.gif') no-repeat right top; /* orientation=rt */
}

.UIBannerPortlet .MiddleBanner {
	height: 50px;
}

.UIBannerPortlet .MiddleBanner .Signin {
	text-align: right;
	padding: 25px 20px 0px 0px;
}

.UIBannerPortlet .MiddleBanner .Signin a {
	background: none;
	margin-left: 8px;
	color: #5a5a5a;
}

.UIBannerPortlet .MiddleBanner .Signin a:hover {
	color: #000;
}



