

.UIWorkingWorkspace {
	margin: 0px;
	
/*
 * minh.js.exo
 * bug : right click with IE7 in ECM
 */
}

.UIWorkingWorkspace {
	width: 980px;
	margin: auto;
	background: #fff;
}

.UIWorkingWorkspace .UIPageBody {
   border-bottom:1px solid #B4B4B4;
   border-left:1px solid #B4B4B4;
   border-right:1px solid #B4B4B4;
}

.MaskLayer {
	background: black;
	text-align: center;
	position: absolute;
	overflow: auto; /* Fix for FF2 */
}

.WarningLayer {
	width: 300px;	height: 100px;
	line-height: 100px;	
	text-align: center;
	position: absolute;
	opacity: 0.5 !important;
	filter: alpha(opacity=50);
}

.PreviewMode {
	width: 160px;	height: 160px;
	background: url("background/PreviewModeImage146x156.png") no-repeat top right; /* orientation=lt */
	background: url("background/PreviewModeImageRTL146x156.png") no-repeat top left; /* orientation=rt */
	position: absolute;
	cursor: pointer;
	right: 0px; /* orientation=lt */
	left: 0px; /* orientation=rt */
	top: 0px;
}