
.UIBreadcumbs {
	padding: 0 40px;
}

.UIBreadcumbs .LeftBreadcumbsBar {
	background: none;
}

.UIBreadcumbs .HomeIcon {
	background: url('background/HomeIcon.gif') no-repeat left top;
	width: 16px;
	height: 16px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 6px 5px 0 0; /* orientation=lt */
	margin: 6px 0 0 5px; /* orientation=rt */
}

.UIBreadcumbs .BreadcumbsInfoBar {
	padding: 0;
}

.UIBreadcumbs .RightBlackGridArrowIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 5px 0px 0px 0px;
}