
.UIFooterPortlet {
  margin: 0;
  background: transparent;
}
	
.UIFooterPortlet .RepeatFooter {
	padding: 0px;
	margin: 0px;
}

.UIFooterPortlet .FooterInfoContainer {
	line-height: 25px;
}

.UIFooterPortlet .CopyrightInfo {
	text-align: center;
	line-height: 30px;
	height: 30px;
	color:#5A5A5A;
	font-weight:bold;
}
