
#banner {
	border-top: 1px solid #b5b6b6;
}	

.UIBannerPortlet {
	background: url('DefaultSkin/background/banner-bg.jpg') repeat-x; /* orientation=lt */
   background: url('DefaultSkin/background/banner-bg.jpg') repeat-x; /* orientation=rt */
   border-left: 1px solid #b4b4b4;
   border-right: 1px solid #b4b4b4;
}

.UIBannerPortlet .LeftBanner {
	/*border-top: 1px solid #b5b6b6;*/
	padding-left: 10px; /* orientation=lt */
	padding-right: 10px; /* orientation=rt */
   border: 0;
}

.UIBannerPortlet .RightBanner {
	background: url('DefaultSkin/background/EPPLogo-trans.gif') no-repeat 13px 22px; /* orientation=lt */
	background: url('DefaultSkin/background/EPPLogo-trans.gif') no-repeat right 22px; /* orientation=rt */
}

.UIBannerPortlet .MiddleBanner {
	height: 66px;
}

.UIBannerPortlet .LeftLoginContainer {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
}

.UIBannerPortlet .RightLoginContainer {
}

.UIBannerPortlet .MiddleLoginContainer {
	padding: 5px 15px 1px;
}

.UIBannerPortlet .Signin {

}

.UIBannerPortlet .MiddleLoginContainer a {
	color: #963c3e;
	outline: none;
}

.UIBannerPortlet .MiddleLoginContainer a:hover {
	color: #176ba6;
}

.UIBannerPortlet .MiddleLoginContainer .Name {
	text-align: left;	 
	color: #666666;
	margin-bottom: 6px;
	line-height: 35px;
	float: left;
}

.UIBannerPortlet .MiddleLoginContainer .Logout {
	margin-right: 12px;
	cursor: pointer;
	float: left;	
	font-weight: bold;
	display: block;
	line-height: 35px;
	color: white;
}

.UIBannerPortlet .MiddleLoginContainer .Login {
	margin-right: 12px;	
	cursor: pointer;
	float: left;	 	
	font-weight: bold;
	display: block;
	line-height: 35px;
	color: #2c0102;
	background: none;
}

.UIBannerPortlet .MiddleLoginContainer .Register {
	margin-right: 12px;	
	cursor: pointer;
	float: left;	 	
	font-weight: bold;
	display: block;
	line-height: 35px;
	color: #2c0102;
	background: none;
}
 
.UIBannerPortlet .MiddleLoginContainer .Language {
	cursor: pointer;
	font-weight: bold;
	float: left;
	display: block;
   color: #2c0102;
	line-height: 35px;
}