
.UIPageBrowser {	
	background: white;
}

.UIPageBrowser .UISearch {
	margin: auto;
	padding: 0;
}

.UIPageBrowser .UIGrid {	
	width: 99.7%;
	!width: 98%;
	margin: auto;
}

.UIPageBrowser .UIGrid .Text {	
	white-space: nowrap;
}